@font-face {
    font-family: "Vazir";
    src: url(asessts/fonts/Vazir.eot);
    src: url(asessts/fonts/Vazir.eot?#iefix) format("embedded-opentype"), url(asessts/fonts/Vazir.woff2) format("woff2"), url(asessts/fonts/Vazir.woff)format("woff"), url(asessts/fonts/Vazir.ttf) format("truetype");
}

body {
    font-family: "Vazir" !important;
}

a {
    text-decoration: none !important;
}


/* Header */

.header-scrolled {
    background-color: white;
    box-shadow: 0px 2px 20px rgb(1 41 112/10%);
    padding: 20px 0;
}

@media (max-width: 992px) {
    .header-scrolled {
        background-color: #fff;
    }
}


/* Intro */

.intro {
    height: 100vh;
    width: 100%;
    background: url("asessts/images/intro/intro-bg.png") top center no-repeat;
    background-size: cover;
}


/* Utilities */

.hover-grow {
    transition: all 0.5s;
}

.hover-grow:hover {
    transform: scale(1.1);
}

h3,
h5,
p {
    line-height: 1.8 !important;
}


/* About */

.content {
    background-color: #f6f9ff;
    padding: 40px;
}


/* Counts */

.counts i {
    font-size: 42px;
}

.counts i.blue {
    color: #4154f1;
}

.counts i.green {
    color: #15be56;
}

.counts i.red {
    color: #bb0862;
}

.counts i.orange {
    color: #ee6c20;
}


/* Features */

.features i {
    font-size: 44px;
    color: #4154f1;
}


/* Setvices */

.service-box {
    box-shadow: 0 0 30px rgba(1, 41, 112, 0.08);
    padding: 60px 30px;
    text-align: center;
    border-radius: 5px;
    transition: all .6s;
}

.service-box>i {
    font-size: 36px;
    padding: 20px;
    line-height: 0;
    display: inline-block;
    border-radius: 4px;
}

.read-more i {
    line-height: 0;
}

.blue .read-more span {
    color: #2db6fa;
}

.blue {
    border-bottom: 3px solid #2db6fa;
}

.blue>i {
    background: #dbf3fe;
    color: #2db6fa;
}

.blue:hover {
    background-color: #2db6fa;
    color: #fff;
}

.blue:hover .read-more>i {
    color: #fff;
}

.blue:hover .read-more span {
    color: #fff;
}

.blue:hover .blue>i {
    background-color: #fff;
}


/* orange */

.orange {
    border-bottom: 3px solid #f68c09;
}

.orange>i {
    background: #fde3c4;
    color: #f68c09;
}

.orange:hover {
    background-color: #f68c09;
    color: #fff;
}

.orange:hover .read-more>i {
    color: #fff;
}

.orange:hover .read-more span {
    color: #fff;
}

.orange:hover .blue>i {
    background-color: #fff;
}

.orange .read-more i {
    color: #f68c09;
}

.orange .read-more span {
    color: #f68c09;
}


/* green */

.green {
    border-bottom: 3px solid #08da4e;
}

.green>i {
    background: #cffddf;
    color: #08da4e;
}

.green:hover {
    background-color: #08da4e;
    color: #fff;
}

.green:hover .read-more>i {
    color: #fff;
}

.green:hover .read-more span {
    color: #fff;
}

.green:hover .blue>i {
    background-color: #fff;
}

.green .read-more i {
    color: #08da4e;
}

.green .read-more span {
    color: #08da4e;
}


/* Plans */

.plans .card {
    transition: all .4s;
}

.plans .card:hover {
    transform: scale(1.1);
}


/* Contact */

.info-box,
.contact-form {
    background-color: #fafbff;
    padding: 30px;
}

.info-box i {
    color: #4154f1;
    line-height: 0px;
    font-size: 38px;
}

.info-box .clphone {
    direction: ltr;
    text-align: right;
}

.contact-form {
    height: 100%;
}


/* Footer */

.social-link i {
    font-size: 20px;
    color: rgba(1, 41, 112, .5);
}

.footer hr {
    width: 70%;
    height: 5px;
}

.footer .footer-link a {
    color: #000;
}

.footer .footer-link a i {
    font-size: 13px;
}

.footer-link li {
    margin-top: 10px;
}